*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
 
body {
  background-color: whitesmoke;
}

.header {
  padding: 20px;
  background-color: black;
  color: white;
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
}

.app {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
}

.app > * {
  flex: 1 1 auto;
  /* border: 1px red solid; */
  text-align: center;

  margin: 5px; /* and that, will result in a 10px gap */
}

.input__controls {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

button {
  padding: 8px;
  margin: 10px;
  border-radius: 5%;
  color: purple;
  /* border: 1px solid purple; */
  border: none;
  box-shadow: 2px 5px 5px #888888;
}

button:hover {
  background-color: purple;
  color: white;
  cursor: pointer;
}

input {
  padding: 6px;
}

.display {
  font-size: 5rem;
  margin-top: 50px;
  color: purple;
  box-shadow: 2px 2px 10px grey;
}
